body {
  font-family: sans-serif;
}

.app {
  display: flex;
}

.heading {
  font-size: 5px;
}

.content {
  position: relative;
}

.blog:first-child {
  margin-left: 50px;
}

.blog:last-child {
  position: absolute;
  top: -50px;
}
